
@{
	ViewBag.Title = "Sample2";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample2</title>
</head>
<body>
    <div>
        <h1>Sample2</h1>
    </div>
</body>
</html>
