@Model IEnumerable(EddyNewHome.Models, Members)
@{
	ViewBag.Title = "List";
	Layout = "~/Views/Shared/_EddyHomeLayout.cshtml";
}

<!-- Container -->
<div class="content-wrap">
	<div id="blogpost" class="inner-content">
		<section class="inner-section">
			<div class="container-fluid nopadding">
				<div class="wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
					<div id="post-comment">
						<h4 class="font-accident-one-light">회원 목록</h4>
					</div>
					<div class="dividewhite2"></div>
					<div class="row">
						<table style="width:100%;">
							<thead>
								<tr>
									<th width="10%">순번</th>
									<th width="10%">고객아이디</th>
									<th width="20%">고객명</th>
									<th width="20%">전화번호</th>
									<th width="20%">메일주소</th>
									<th width="20%">가입일시</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>EDDY</td>
									<td>강창훈</td>
									<td>010-2760-5246</td>
									<td>test@test.co.kr</td>
									<td>216.09.30</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6" style="text-align:center;">
										페이저 영역
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="dividewhite8"></div>
		</section>
	</div>
</div>

